.digit {
  font-size: 40px;
  font-weight: 600;
  color: #000000;
  line-height: 1;
  display: inline-block;
  margin-bottom: 5px;
}
.info {
  display: inline-block;
  font-size: 13px;
  color: #ff414d;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0;
}
.box {
  background: rgba(0, 0, 0, 0.03);
  padding: 30px 20px;
  border-radius: 4px;

  height: 100%;
}
